body {
    background-color: #d6e4f0;
    color: white;
}
.navbar, .navbar-nav .nav-link:hover {
    background-color: #003366;
    transition: 0.3s;
}
.accordion-button:hover {
    background-color: #003366;
    color: white;
}
.accordion img {
    border-radius: 15px;
    transition: transform 0.3s;
}
.accordion img:hover {
    transform: scale(1.05);
}
